*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: Sailec-Regular,"system-ui",-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,"sans-serif";
}
p{
  color: grey;
}
#header_top{
  width: 100%;
  height: 50px;
  background-color: white;
  position: fixed;
  z-index: 4;
}

#header_bottom{
  width: 100%;
  height: 600px;
  color: white;
  padding-top: 50px;
  background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
}

#main_top_loghi{
  width: 100%;
  height: 400px;
  background-color: rgb(243, 245, 249);
}

#deploy_and_scale_seamlessly{
  width: 100%;
  height: 500px;
  background-color: white;
}

#designed_for_developers{
  width: 100%;
  height: 400px;
  background-color: rgb(243, 245, 249);
}

#customers{
  width: 100%;
  height: 500px;
  color: white;
  background-color: blue;
}

#development_teams{
  width: 100%;
  height: 400px;
  background-color: rgb(243, 245, 249);
}

#footer_top{
  width: 100%;
  height: 200px;
  color: white;
  background-color: blue;
}

#footer_bottom{
  width: 100%;
  height: 200px;
  color: white;
  background-color: rgb(1, 14, 39);
}
